<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>

    <title>Upload Documents </title>

</head>

<body>

<!-- page content -->
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Upload Documents</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Etape 1</a>
                                    </li>
                                    <li><a href="#">Etape 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <!-- Smart Wizard -->
                        <p>Processus Upload </p>
                        <div id="resultupload" >
                        </div>
                        <form>
                             <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                              Etape 1<br />
                                              <small>Adresse Email</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                              Etape 2<br />
                                              <small>Uploader Documents</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                              Etapes 3<br />
                                              <small>Choix Format de Sorti</small>
                                          </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                              Etape 4<br />
                                              <small>Valider</small>
                                          </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="step-1">
                                <div class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" id="email" class="form-control" name="email" data-parsley-trigger="change" required />
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div id="step-2">
                                <h2 class="StepTitle">Etape 2 Upload Documents</h2>
                                <form>
                                    <input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,
                                    .txt,.pdf"  name="files" id="files" multiple>
                                </form>

                            </div>
                            <div id="step-3">
                                <h2 class="StepTitle">Format de Sortie</h2><br>
                                <div class="col-md-55"  th:each="format : ${formats}">
                                        <div class="">
                                            <label>
                                                <input type="checkbox" class="js-switch formats"   name="formats"
                                                       th:value="${format}" th:text= " ${format}">
                                            </label>
                                        </div>
                                    <div class="">
                                        <label>
                                            <input type="checkbox" class="js-switch formats"   name="formats"
                                                   th:value="${format}" th:text= " ${format}">
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div id="step-4">
                                <h2 class="StepTitle">Step 4 Content</h2>
                                <div id="validationinfos"></div>
                            </div>

                        </div>
                        </form>
                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


</body>
</html>

